.leftsidebar-wrap {
  float: left;
  background: #eaeaea;
  width: 250px;
  height: calc(100vh - 100px);
  min-height: 600px;
  position: relative;

  .logo-wrap {
    width: 100%;
    height: 100px;
    background: #ea2e49;
  }
}