$soundcloud-orange-overlay: rgba(255, 119, 0, .5);

.track {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height: 250px;
  width: 250px;
  margin: 20px;
  background: rgba(255, 255, 255, .05);
  float: left;

  .track-artwork-wrapper {
    position: relative;
    height: 250px;
    width: 250px;

      img {
      height: 250px;
      width: 250px;
      display: block;
    }

    &:hover .artwork-overlay {
      position: absolute;
      height: 250px;
      width: 250px;
      background: rgba(27, 29, 37, .85);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .play-track {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }

    &:hover .play-track {
      display: inline-block;
    }

    .play-track.show {
      display: inline-block;
    }
  }
}