$soundcloud-orange-overlay: rgba(255, 119, 0, .5);

.track {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height: 300px;
  width: 200px;
  margin: 20px;
  background: rgba(255, 255, 255, .05);
  float: left;

  .track-artwork-wrapper {
    position: relative;
    height: 200px;
    width: 200px;

      img {
      height: 200px;
      width: 200px;
      display: block;
    }

    &:hover .artwork-overlay {
      position: absolute;
      height: 200px;
      width: 200px;
      background: $soundcloud-orange-overlay;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover img {
      filter: grayscale(100%);
    }
  }
}