.track {
  font-family: sans-serif;
  font-size: 14px;
  color: gray;
  background: rgba(255, 255, 255, .05);
  flex-grow: 1;
  padding: 1%;
  flex-basis: 17%;

  .track-artwork-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .05);

      img {
      width: 100%;
      max-width: 100%;
      display: block;
    }

    .addText {
      position: absolute;
      color: rgba(255, 255, 255, .7);
      display: none;
      white-space:nowrap;
      border: 1px solid rgba(255, 255, 255, .7);
      background: rgba(0, 0, 0, .3);
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 16px;
      padding: 4px 16px 4px 16px;
      cursor: pointer;
    }

    &:hover .addText {
      display: inline;
    }

    &:hover .artwork-overlay {
      position: absolute;
      background: rgba(27, 29, 37, .85);
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .play-track {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      cursor: pointer;
    }

    &:hover .play-track {
      display: inline-block;
    }

    .play-track.show {
      display: inline-block;
    }
  }

  &:last-child {
    padding-bottom: 80px;
  }
}

  .dummy {
    opacity: 1;
  }

