.track-list-wrap {
  height: calc(100vh - 80px);
  min-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0 1%; }

.track-list-wrap::-webkit-scrollbar {
  display: none; }

.track-list-wrap .track:nth-child(1), .track-list-wrap .track:nth-child(2), .track-list-wrap .track:nth-child(3) {
  padding: 1% !important;
  flex: 1 26% !important; }
