.track-list-wrap {
  height: calc(100vh - 80px);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 0 1%;

  &::-webkit-scrollbar {
    display: none;
  }

  .track:nth-child(1), .track:nth-child(2), .track:nth-child(3) {
    padding: 1% !important;
    flex: 1 26%!important;
  }
}