.topbar-wrap {
  width: 100%;
  height: 80px;
  background: white;
  position: sticky;
  display: flex;
  align-items: center;

  .logo-wrap {
    width: 250px;
    height: 80px;
    display: inline-block;
    background: #ea2e49;
    text-align: center;
    
    img {
      position: relative;
      top: 20px;
      height: 40px;
    }
  }

  .input-wrap {
    padding: 0 30px 0 30px;
    display: inline-block;
    position: relative;
    flex-grow: 1;

    input {
      -webkit-appearance: none;
      border: 1px solid rgba(0, 0, 0, .1);
      height: 36px;
      width: 40%;
      border-radius: 20px;
      font-size: 21px;
      padding: 0 60px 0 20px;

      &:focus {
        outline: none;
      }
    }

    img {
      display: inline-block;
      position: relative;
      top: 2px;
      left: -44px;
    }
  }

  .playlist-title {
    width: 250px;
    height: 100%;
    background-color: #77c4d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;

    img {
      padding-right: 6px;
      position: relative;
      top: -3px;
    }
    
    h2 {
      font-weight: normal!important;
      font-size: 18px;
    }
  }
}