.topbar-wrap {
  width: 100%;
  height: 80px;
  background: white;
  position: sticky;

  .logo-wrap {
    width: 250px;
    height: 100px;
    display: inline-block;
    background: #ea2e49;
    text-align: center;
    
    img {
      position: relative;
      top: 20px;
      height: 40px;
    }
  }
}